{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box-element">
        <a class="btn btn-outline-dark" href="{% url 'store:items' %}">Continue Shopping</a>
            <br>
            <br>
            <table class="table">
            <tr>
                <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
                <th><h5>Total: <strong>$ {{ order.get_cart_total }}</strong></h5></th>
                <th><a href="{% url 'store:checkout' %}" class="btn btn-success" style="float: right;margin: 5px;">Checkout</a></th>
            </tr>
            </table>
        </div>
        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2;"></div>
                <div style="flex:2;"><strong>Item</strong></div>
                <div style="flex:1;"><strong>Price</strong></div>
                <div style="flex:1;"><strong>Quantity</strong></div>
                <div style="flex:1;"><strong>Total</strong></div>
            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2;"><img class="row-image" src="{{ item.product.ImageURL }}"></div>
                <div style="flex:2;"><p>{{ item.product.name }}</p></div>
                <div style="flex:1;"><p>${{ item.product.price }}</p></div>
                <div style="flex:1;">
                    <p class="">{{ item.quantity }}</p>
                    <div class="quantity">
                       <img data-product="{{ item.product.pk }}" src="{% static 'images/arrow-up.png' %}" data-action="add" class="chg-quantity update-cart">
                       <img data-product="{{ item.product.pk }}" src="{% static 'images/arrow-down.png' %}"  data-action="remove" class="chg-quantity update-cart">
                    </div>
               </div>
               <div style="flex:1;"><p>${{ item.get_total }}</p></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}