{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
              <div id="user-info">
                <div class="form-field">
                    <input type="text" class="form-control" name="name" placeholder="Name..." required>
                </div>
                <div class="form-field">
                    <input type="email" class="form-control" name="email" placeholder="Email..." required>
                </div>
              </div>

              <div id="shipping-info">
                <hr>
                  <h5>Shipping Info</h5>
                  <div class="form-field">
                    <input type="text" class="form-control" name="address" placeholder="Address..." required>
                </div>
                  <div class="form-field">
                    <input type="text" class="form-control" name="city" placeholder="City..." required>
                </div>
                  <div class="form-field">
                    <input type="text" class="form-control" name="state" placeholder="State..." required>
                </div>
                  <div class="form-field">
                    <input type="text" class="form-control" name="zipcode" placeholder="Zip Code..." required>
                </div>
                  <div class="form-field">
                    <input type="text" class="form-control" name="country" placeholder="Country..." required>
                </div>
              </div>
                <hr>
                <button id="form-button" type="submit" class="btn btn-success btn-block">Continue</button>
            </form>

                <div class="box-element hidden" id="payment-info">
                    <small>Payment Options</small>
                    <!--<button id="make-payment">Make Payment</button>-->
                    <div id="paypal-button-container">
                    </div>
                </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="box-element">
            <a href="{% url 'store:cart' %}" class="btn btn-outline-dark">Back To Cart</a>
            <hr>
            <h3>Order Summary</h3>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2;"><img class="row-image" src="{{ item.product.ImageURL }}"></div>
                <div style="flex:2;"><p>{{ item.product.name }}</p></div>
                <div style="flex:1;"><p>{{ item.product.price }}</p></div>
                <div style="flex:1;"><p class="">{{ item.quantity }}</p></div>
               <div style="flex:1;"><p>${{ item.get_total }}</p></div>
            </div>
            {% endfor %}
            <h5>Items: {{ order.get_cart_items }}</h5>
            <h5>Total: ${{ order.get_cart_total }}</h5>
        </div>
    </div>
</div>
 <script src="https://www.paypal.com/sdk/js?client-id=Aal67ntK9ZNmJWWXufrN9reRi4w1yy6r4T4N9ZHosqTuSq-mEcJGLahOVGHzdiCgjIT0qzVwKubuWhPi&currency=USD&disable-funding=credit"></script>

 <script>
    var total="{{ order.get_cart_total|floatformat:2 }}"
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color: "blue",
            shape: "rect"
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                //alert('Transaction completed by ' + details.payer.name.given_name + '!');
                SubmitFormData()
            });
        }


    }).render('#paypal-button-container');
</script>

<script type="text/javascript">
var shipping="{{ order.shipping }}"
var total="{{ order.get_cart_total|floatformat:2 }}"

if (shipping===false){
    document.getElementById("shipping-info").inerHTML=''
}
if (user !== 'AnonymousUser')
{
		 	document.getElementById('user-info').innerHTML = ''
}

if (shipping === false && user !== 'AnonymousUser'){
			//Hide entire form if user is logged in and shipping is false
    document.getElementById('form-wrapper').classList.add("hidden");
				//Show payment if logged in user wants to buy an item that does not require shipping
    document.getElementById('payment-info').classList.remove("hidden");
}

var form=document.getElementById("form")



form.addEventListener("submit",function(e){
        e.preventDefault() //prevents from doing the default action
        console.log("Form submitted...")
        document.getElementById("form-button").classList.add("hidden")
        document.getElementById("payment-info").classList.remove("hidden")
    })

/* document.getElementById("make-payment").addEventListener("click",function(e) {
    SubmitFormData()
})*/

function SubmitFormData()
{
    console.log("Payment button clicked")

    var userFormData={
        "name":null,
        "email":null,
        "total":total
    }

    var shippingInfo={
        "address":null,
        "city":null,
        "state":null,
        "zipcode":null
    }

    if (shipping !== false) {
        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.state = form.state.value
        shippingInfo.zipcode = form.zipcode.value
    }

    if (user==="AnonymousUser")
    {
        userFormData.name=form.name.value
        userFormData.email=form.email.value
    }
    console.log("Shipping Info: "+ shippingInfo)
    console.log("User Info: "+ userFormData)

    var url = "/process_order/" //goes to the url path of process_order

    fetch(url, {
		method:'POST',
		headers:{
			'Content-Type':'application/json',
			'X-CSRFToken':csrftoken,
		},
		body:JSON.stringify({'user':userFormData, 'shipping':shippingInfo}),

	})
	.then((response) => {response.json()})
	.then((data) => {
		  console.log('Success:', data);
		  alert('Transaction completed');
		  window.location.href = "{% url 'store:items' %}"
		})
}
</script>
{% endblock %}